{% if not user.is_authenticated %}
	<div class="modal fade" id="registerModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Закрыть</span>
					</button>
					<h4 class="modal-title">Регистрация</h4>
				</div>
				<div class="modal-body">
					<form method="post" action="/register/">
						<!--<div class="group">
							<input type="text" required id="registration_email" name="registration_email">
							<label>Эл. почта</label>
						</div>
						<div class="group">
							<input type="text" required id="registration_username" name="registration_username">
							<label>Имя пользователя</label>
						</div>
						<div class="group">
							<input type="password" required id="registration_password" name="registration_password">
							<label>Пароль</label>
						</div>
						<div class="group">
							<input type="password" required id="registration_check_password" name="registration_check_password">
							<label>Повторите пароль</label>
						</div> -->
                        {% for field in registration_form %}
                            <div class="group">
                                {{ field }}
                                {% if field.help_text %}
                                    <p>{{ field.help_text | safe }}</p>
                                {% endif %}
                                <label>{{ field.label }}</label>
                            </div>
                        {% endfor %}
                              <input type="text" id="registration_return_url" name="registration_return_url" class="hidden" value={{ request.path }}>
								<button type="submit" class="form-control">Регистрация</button>
					</form>
				</div>
				<div class="modal-footer">
					<a href="#" class="small cancel"  data-dismiss="modal">Отмена</a>
				</div>
			</div><!-- end modal-content -->
		</div><!-- end modal-dialog -->
	</div><!-- end register modal -->
{% endif %}