<footer>
    <hr>
    <div class="footer-inner">
        <div class="row">
            <div class="col-lg-6">
                Карта сайта
                <ul>
                    <li><a href="/author">Авторы</a></li>
                    <li><a href="/genre">Жанры</a></li>
                    <li><a href="/contact">Обратная связь</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                E-mail <br>
                <a href="mailto:sersh008@gmail.com">sersh008@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p style="text-align: center">2017 - Сергей Утков</p>
    </div>
</footer>