{% load staticfiles %}
<link rel="stylesheet/less" href="{% static 'css/style.less' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'scripts/holder.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/less.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/sidebar.js' %}"></script>