{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block meta-keywords %}<meta name="keywords" content="">{% endblock %}
{% block meta-description %}<meta name="description" content="">{% endblock %}
{% block meta-author %}<meta name="author" content="dalinar">{% endblock %}
{% block title %}Добавить книгу{% endblock %}
{% block content %}
    {% if error %}
        <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-lg-offset-2 col-lg-8 form-container">
            <ul>
                {{ error | safe }}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-lg-offset-2 col-lg-8 form-container">
            <form method="post" action="/book/add" enctype="multipart/form-data">
                {% for field in form %}
                    <div class="group">
                        {{ field }}
                        <label>{{ field.label }}</label>
                    </div>
                {% endfor %}
                <button type="submit" class="form-control">Отправить</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}