<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">
	<meta name="theme-color" content="rgba(60, 141, 188, 1)">
    {% block meta-keywords %}{% endblock %}
    {% block meta-description %}{% endblock %}
    {% block meta-author %}{% endblock %}
    {% include "base/js_include.html" %}
</head>
<body>
<div class="wrapper">
    {% include "base/header.html" %}
    {% include "account/login_modal.html" %}
    {% include "account/register_modal.html" %}
    {% include "base/sidebar.html" %}

    <!-- content wrapper -->
    <div class="container-fluid">
        {% include "base/breadcrumbs.html" %}
    	<div class="page-content">
            {% block content %}
            {% endblock %}
    	</div>
    </div><!-- end content wrapper -->

    {% include "base/footer.html" %}
</div>
</body>
{% block jquery %}
{% endblock %}
</html>